@using System.Xml.Linq
@using System.Xml
@{ 
    XElement root = null;
    XElement tests = null;

    if (!String.IsNullOrEmpty(Context))
    {
        root = XDocument.Parse(Context).Element("results").Element("sensitivity");
        tests = root.Element("tests");

    }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Focused Objective Scrum Sensitivity Simulation Results</title>
            <style type="text/css">
        #box-table-a
        {
            font-family: Arial;
            font-size: 12px;
            margin: 20px;
            width: 500px;
            text-align: center;
            border-collapse: collapse;
        }
        #box-table-a th
        {
            font-size: 12px;
            font-weight: normal;
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }
        #box-table-a td
        {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            color: #669;
            border-top: 1px solid transparent;
        }
        #box-table-a tr:hover td
        {
            background: #d0dafd;
            color: #339;
        }
    </style>

	</head>
	<body style="font-family: Arial;border: 0 none; font-size:12px">
    <div>
        <h2>Focused Objective Scrum Sensitivity Simulation Results</h2>

Sensitivity testing determines what defects, added scope and blocking events cause the most impact.
<h3>Settings</h3>
    <table id="box-table-a" summary="Sensitivity test setup">
        <thead>
            <tr>
            <th>&nbsp;</th>
            <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    Value to measure
                </th>
                <td>
                    @root.Attribute("sensitivityType").Value
                </td>
            </tr>
            <tr>
                <th>
                    Sort order
                </th>
                <td>
                    @root.Attribute("sortOrder").Value
                </td>
            </tr>
            <tr>
                <th>
                    Multiply Occurrence Inputs by
                </th>
                <td>
                   @root.Attribute("occurrenceMultiplier").Value
                </td>
            </tr>
            <tr>
                <th>
                    Multiply Estimate Inputs by
                </th>
                <td>
                    @root.Attribute("estimateMultiplier").Value
                </td>
            </tr>
            <tr>
                <th>
                    Multiply Points per Iteration Input by
                </th>
                <td>
                         @root.Attribute("iterationMultiplier").Value
                </td>
            </tr>            
            </tbody>
            </table>
<h3>Results</h3>
    <table id="box-table-a" summary="Sensitivity Test">
        <thead>
            <tr>
            <th>&nbsp;</th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            Response.Write("<th>");
                            Response.Write(test.Attribute("name").Value);
                            Response.Write("</th>");
                        }
                     }
            </tr>
            </thead>
            <tbody>
            
             <tr>
                <th>
                    Object Type
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            Response.Write("<td>");
                            Response.Write(test.Attribute("type").Value);
                            Response.Write("</td>");
                        }
                     }
            </tr>

             <tr>
                <th>
                    Change Type
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            Response.Write("<td>");
                            Response.Write(test.Attribute("changeType").Value);
                            Response.Write("</td>");
                        }
                     }
             </tr>
            
            <tr>
                <th>
                    Iteration Delta
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            Response.Write("<td>");
                            Response.Write(test.Attribute("iterationDelta").Value);
                            Response.Write("</td>");
                        }
                     }
            </tr>

            <tr>
                <th>
                    Occurrence Low Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalOccurrenceLowBound").Value != "0")
                            {
                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalOccurrenceLowBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newOccurrenceLowBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                     }
            </tr>

            <tr>
                <th>
                    Occurrence High Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalOccurrenceHighBound").Value != "0")
                            {
                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalOccurrenceHighBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newOccurrenceHighBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                      }
            </tr>

            <tr>
                <th>
                    Estimate Low Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalEstimateLowBound").Value != "0")
                            {
                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalEstimateLowBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newEstimateLowBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                      }
            </tr>

            <tr>
                <th>
                    Estimate High Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalEstimateHighBound").Value != "0")
                            {
                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalEstimateHighBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newEstimateHighBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                     }
            </tr>

            <tr>
                <th>
                    Iteration Low Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalIterationLowBound").Value != "0")
                            {
                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalIterationLowBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newIterationLowBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                        }
            </tr>

            <tr>
                <th>
                    Iteration High Bound change
                </th>
                    @{
                        foreach (var test in tests.Elements("test"))
                        {
                            if (test.Attribute("originalIterationHighBound").Value != "0")
                            {

                                Response.Write("<td>");
                                Response.Write(test.Attribute("originalIterationHighBound").Value);
                                Response.Write(" to ");
                                Response.Write(test.Attribute("newIterationHighBound").Value);
                                Response.Write("</td>");
                            }
                            else
                            {
                                Response.Write("<td>&nbsp;</td>");
                            }
                        }
                        }
            </tr>

            </tbody>
            </table>
    </div>
	
	</body>
</html>